{{!-- BEGIN-SNIPPET favorite-colors-component.hbs --}}
{{component labelComponent}}

<div class="{{if isValid 'is-valid'}} {{if isInvalid 'is-invalid'}}">
  {{#if value}}
    {{value.name}} <button class="btn btn-secondary" onclick={{action 'clearSelection'}}>Clear Selection</button>
    <br>
    <br>
  {{/if}}

  {{#each colors as |color|}}
    {{color-component color=color colorSelected=(action 'onColorSelected')}}
  {{/each}}
</div>

{{component hintComponent}}
{{component errorComponent class='d-block'}}
{{!-- END-SNIPPET --}}
