{{! template-lint-disable no-autofocus-attribute }}
<div class={{this.class}}>
  {{#if (not-eq @type "checkbox")}}
    <@labelComponent />
  {{/if}}

  <div class="uk-form-controls">
    {{#if (eq @type "select")}}
      {{#let (component this.selectComponent) as |Select|}}
        <Select
          @disabled={{@disabled}}
          @includeBlank={{@includeBlank}}
          @inputId={{@inputId}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @multiple={{@multiple}}
          @name={{or @inputName @name}}
          @optionLabelPath={{@optionLabelPath}}
          @options={{@options}}
          @optionTargetPath={{@optionTargetPath}}
          @optionValuePath={{@optionValuePath}}
          @promptIsSelectable={{@promptIsSelectable}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          @value={{@value}}
          ...attributes
        />
      {{/let}}
    {{else if (or (eq @type "radioGroup") (eq @type "radio-group"))}}
      {{#let (component this.radioGroupComponent) as |RadioGroup|}}
        <RadioGroup
          @disabled={{@disabled}}
          @inputId={{@inputId}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @name={{or @inputName @name}}
          @options={{@options}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          @value={{@value}}
          ...attributes
        />
      {{/let}}
    {{else if (or (eq @type "checkboxGroup") (eq @type "checkbox-group"))}}
      {{#let (component this.checkboxGroupComponent) as |CheckboxGroup|}}
        <CheckboxGroup
          @disabled={{@disabled}}
          @inputId={{@inputId}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @name={{or @inputName @name}}
          @options={{@options}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          @value={{@value}}
          ...attributes
        />
      {{/let}}
    {{else if (eq @type "checkbox")}}
      {{#let (component this.checkboxComponent) as |Checkbox|}}
        <Checkbox
          @disabled={{@disabled}}
          @inputId={{@inputId}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @labelComponent={{@labelComponent}}
          @name={{or @inputName @name}}
          @options={{@options}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          @value={{@value}}
          ...attributes
        />
      {{/let}}
    {{else if (eq @type "textarea")}}
      {{#let (component this.textareaComponent) as |DynamicTextarea|}}
        <DynamicTextarea
          autocomplete={{@autocomplete}}
          autofocus={{@autofocus}}
          cols={{@cols}}
          disabled={{@disabled}}
          id={{@inputId}}
          name={{or @inputName @name}}
          placeholder={{@placeholder}}
          rows={{@rows}}
          value={{@value}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          ...attributes
        />
      {{/let}}
    {{else}}
      {{#let (component this.inputComponent) as |DynamicInput|}}
        <DynamicInput
          autocomplete={{@autocomplete}}
          autofocus={{@autofocus}}
          disabled={{@disabled}}
          id={{@inputId}}
          name={{or @inputName @name}}
          placeholder={{@placeholder}}
          type={{@type}}
          value={{@value}}
          @isInvalid={{@isInvalid}}
          @isValid={{@isValid}}
          @setDirty={{@setDirty}}
          @update={{@update}}
          ...attributes
        />
      {{/let}}
    {{/if}}
  </div>

  <@hintComponent />
  <@errorComponent />
</div>