{{#each @options as |option i|}}
  {{#if (macroCondition (macroGetOwnConfig "isUikit"))}}
    {{#if (not-eq i 0)}}<br />{{/if}}
    <label
      class="uk-form-label
        {{if @isValid 'uk-text-success'}}
        {{if @isInvalid 'uk-text-danger'}}"
    >
      <input
        type="checkbox"
        class="uk-checkbox uk-margin-small-right"
        checked={{includes option.key @value}}
        name={{@name}}
        id="{{@inputId}}-{{i}}"
        disabled={{@disabled}}
        {{on "input" (fn this.onUpdate option.key)}}
        ...attributes
      />
      {{option.label}}
    </label>
  {{else if (macroCondition (macroGetOwnConfig "isBootstrap"))}}
    <div class="custom-control custom-checkbox">
      <input
        type="checkbox"
        class="custom-control-input
          {{if @isValid 'is-valid'}}
          {{if @isInvalid 'is-invalid'}}"
        checked={{includes option.key @value}}
        name={{@name}}
        id="{{@inputId}}-{{i}}"
        disabled={{@disabled}}
        {{on "input" (fn this.onUpdate option.key)}}
        ...attributes
      />
      <label
        class="custom-control-label"
        for="{{@inputId}}-{{i}}"
      >{{option.label}}</label>
    </div>
  {{else}}
    <label>
      <input
        type="checkbox"
        checked={{eq @value option.key}}
        value={{option.key}}
        name={{@name}}
        id="{{@inputId}}-{{i}}"
        disabled={{@disabled}}
        {{on "input" (fn this.onUpdate option.key)}}
        ...attributes
      />
      {{option.label}}
    </label>
  {{/if}}
{{/each}}