<select
  class={{this.class}}
  name={{@name}}
  id={{@inpudId}}
  disabled={{@disabled}}
  multiple={{@multiple}}
  {{on "change" this.onUpdate}}
  {{on "blur" this.onBlur}}
  ...attributes
>
  {{#if (or @prompt @includeBlank)}}
    <option
      value=""
      disabled={{not @promptIsSelectable}}
      selected={{not @value}}
    >{{or @prompt @includeBlank}}</option>
  {{/if}}

  {{#if this.hasGrouping}}
    {{#each this.optionGroups as |optionGroup|}}
      <optgroup label={{optionGroup.groupName}}>
        {{#each optionGroup.options as |opt|}}
          <option selected={{eq opt.id @value}} value={{opt.id}}>
            {{opt.label}}
          </option>
        {{/each}}
      </optgroup>
    {{/each}}
  {{else}}
    {{#each this.normalizedOptions as |opt|}}
      <option selected={{eq opt.id @value}} value={{opt.id}}>
        {{opt.label}}
      </option>
    {{/each}}
  {{/if}}
</select>