<select
  class={{this.class}}
  ...attributes
  name={{@name}}
  id={{@inpudId}}
  disabled={{@disabled}}
  multiple={{@multiple}}
  {{on "change" this.onUpdate}}
  {{on "blur" this.onBlur}}
>
  {{#if (or @prompt @includeBlank)}}
    <option
      value=""
      disabled={{not @promptIsSelectable}}
      selected={{not @value}}
    >{{or @prompt @includeBlank}}</option>
  {{/if}}
  {{#each @options as |opt|}}
    {{#let
      (if @optionValuePath (get opt @optionValuePath) opt)
      as |optionValue|
    }}
      <option selected={{eq optionValue @value}} value={{optionValue}}>{{if
          @optionLabelPath
          (get opt @optionLabelPath)
          opt
        }}</option>
    {{/let}}
  {{/each}}
</select>