{{#if (not-eq type "checkbox")}}
  {{#if label}}
      <label class={{config.css.label}} for={{name}}>
        {{label}}{{#if required}} {{requiredLabel}}{{/if}}
      </label>
  {{/if}}
{{/if}}

{{#if hasBlock}}

  {{#if (not-eq type "radioGroup")}}
    {{yield (hash value=(or value (get model name))
      controlClass = config.css.control
      update       = (action 'update')
      setDirty     = (action 'setDirty')
      model        = model
      name         = name)
    }}
  {{else}}
    {{#each options as |option|}}
      <div class="radio">
        <label>
          {{one-way-radio
            value    = (or value (get model name))
            option   = option.key
            name     = name
            update   = (action "update")
            focusOut = (action "setDirty")
            disabled = disabled
          }}
          {{yield option}}
        </label>
      </div>
    {{/each}}
  {{/if}}

{{else}}
  {{#if (eq type "select")}}

    {{one-way-select
      value               = (or value (get model name))
      options             = options
      optionLabelPath     = optionLabelPath
      optionValuePath     = optionValuePath
      optionTargetPath    = optionTargetPath
      name                = name
      id                  = name
      class               = config.css.control
      update              = (action "update")
      focusOut            = (action "setDirty")
      includeBlank        = includeBlank
      disabled            = disabled
      multiple            = multiple
      promptIsSelectable  = (or promptIsSelectable false)
    }}

  {{else if (eq type "radioGroup")}}

    {{#each options as |option|}}
      <div class="{{config.css.radio}}">
        <label>
          {{one-way-radio
            value    = (or value (get model name))
            option   = option.key
            name     = name
            update   = (action "update")
            focusOut = (action "setDirty")
            disabled = disabled
          }}
          {{option.label}}</label>
      </div>
    {{/each}}

  {{else if (eq type "checkbox")}}
    <div class="{{config.css.checkbox}}">
      <label>
        {{one-way-checkbox
          name       = name
          checked    = (get model name)
          update     = (action "update")
          focusOut   = (action "setDirty")
        }}
        {{label}}
      </label>
    </div>

  {{else}}

    {{component (concat "one-way-" type)
      value       = (or value (get model name))
      options     = options
      name        = name
      id          = name
      class       = config.css.control
      update      = (action "update")
      focusOut    = (action "setDirty")
      placeholder = placeholder
      disabled    = disabled
    }}

  {{/if}}
{{/if}}

{{#if showError}}
  <span class={{config.css.help}}>{{firstError}}</span>
{{/if}}

{{#if hint}}
  <p class={{config.css.hint}}>{{hint}}</p>
{{/if}}

