{{#if (not-eq type "checkbox")}}
  {{#if label}}
      <label class={{config.css.label}} for={{inputId}}>
        {{label}}{{#if required}} {{requiredLabel}}{{/if}}
      </label>
  {{/if}}
{{/if}}

{{#if hasBlock}}

  {{#if (not-eq type "radioGroup")}}
    {{yield (hash value=(or value (get model name))
      controlClass = config.css.control
      update       = (action 'update')
      setDirty     = (action 'setDirty')
      model        = model
      name         = name)
    }}
  {{else}}
    {{#each options as |option|}}
      <div class="radio">
        <label>
          <input
            type       = "radio"
            checked    = {{eq (or value (get model name)) option.key}}
            name       = {{name}}
            onclick    = {{action "update" option.key}}
            onfocusout = {{action "setDirty"}}
            disabled   = {{disabled}}>
          {{yield option}}
        </label>
      </div>
    {{/each}}
  {{/if}}

{{else}}
  {{#if (eq type "select")}}

    {{one-way-select
      value               = (or value (get model name))
      options             = options
      optionLabelPath     = optionLabelPath
      optionValuePath     = optionValuePath
      optionTargetPath    = optionTargetPath
      name                = name
      id                  = inputId
      class               = config.css.control
      update              = (action "update")
      focusOut            = (action "setDirty")
      includeBlank        = includeBlank
      disabled            = disabled
      multiple            = multiple
      promptIsSelectable  = (or promptIsSelectable false)
    }}

  {{else if (eq type "radioGroup")}}

    {{#each options as |option|}}
      <div class="{{config.css.radio}}">
        <label>
          <input
            type       = "radio"
            checked    = {{eq (or value (get model name)) option.key}}
            name       = {{inputId}}
            onclick    = {{action "update" option.key}}
            onfocusout = {{action "setDirty"}}
            disabled   = {{disabled}}>
          <span>{{option.label}}</span>
        </label>
      </div>
    {{/each}}

  {{else if (eq type "checkbox")}}
    <div class="{{config.css.checkbox}}">
      <label>
        <input
          type       = "checkbox"
          name       = {{name}}
          disabled   = {{disabled}}
          checked    = {{get model name}}
          onclick    = {{action "update" value = "target.checked"}}
          onfocusout = {{action "setDirty"}}>
        <span>{{label}}</span>
      </label>
    </div>

  {{else if (eq type "textarea")}}
    <textarea
      name        = {{name}}
      id          = {{inputId}}
      class       = {{config.css.control}}
      placeholder = {{placeholder}}
      disabled    = {{disabled}}
      autofocus   = {{autofocus}}
      rows        = {{rows}}
      cols        = {{cols}}
      oninput     = {{action "update" value = "target.value"}}
      onblur      = {{action "setDirty"}}
      >{{_val}}</textarea>
  {{else}}
    <input
      type        = {{type}}
      value       = {{_val}}
      name        = {{name}}
      id          = {{inputId}}
      class       = {{config.css.control}}
      placeholder = {{placeholder}}
      disabled    = {{disabled}}
      autofocus   = {{autofocus}}
      oninput     = {{action "update" value = "target.value"}}
      onblur      = {{action "setDirty"}}
      >
  {{/if}}
{{/if}}

{{#if showError}}
  <span class={{config.css.help}}>{{firstError}}</span>
{{/if}}

{{#if hint}}
  <p class={{config.css.hint}}>{{hint}}</p>
{{/if}}
