<button
  class={{evf-class-list
    (if
      (evf-theme "uikit")
      (evf-class-list
        "uk-button"
        (if (eq @type "submit") "uk-button-primary" "uk-button-default")
      )
    )
    (if
      (evf-theme "bootstrap")
      (evf-class-list
        "btn"
        (if (eq @type "submit") "btn-primary" "btn-default")
        (if @loading "loading")
      )
    )
  }}
  type={{@type}}
  disabled={{@disabled}}
  {{on "click" @onClick}}
  ...attributes
>
  {{#if (has-block)}}{{~yield~}}{{else}}{{~@label~}}{{/if}}
</button>