<div class="custom-control custom-checkbox">
  <input
    class="custom-control-input
      {{if @isValid "is-valid"}}
      {{if @isInvalid "is-invalid"}}"
    type="checkbox"
    name={{@name}}
    id={{@inputId}}
    disabled={{@disabled}}
    checked={{@value}}
    {{on "input" this.onUpdate}}
  />
  <@labelComponent class="custom-control-label" />
</div>