{{docs-header}}

{{#docs-viewer as |viewer|}}

  {{#viewer.nav as |nav|}}
    {{nav.section 'Introduction'}}
    {{nav.item 'Why?' 'docs.index'}}
    {{nav.item 'Usage' 'docs.usage'}}
    {{nav.item 'Quickstart' 'docs.quickstart'}}
    {{nav.item 'Configuration' 'docs.configuration'}}

    {{nav.section 'Components'}}
    {{nav.item '{{validated-form}}' 'docs.components.validated-form'}}
    {{nav.item '{{validated-input}}' 'docs.components.validated-input'}}
    {{nav.item '{{validated-button}}' 'docs.components.validated-button'}}
  {{/viewer.nav}}

  {{#viewer.main}}
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  {{/viewer.main}}
{{/docs-viewer}}
