<DocsHeader />

<DocsHero
  @logo="ember"
  @slimHeading="Validated"
  @strongHeading="Form"
  @byline="Easily create forms with client side validations."
/>

<p class="my-4 text-center">Built with ♥ by
  <a href="https://github.com/adfinis">Adfinis</a></p>

<div class="d-flex justify-content-center">
  <a
    class="ml-1"
    href="https://emberobserver.com/addons/ember-validated-form"
    rel="nofollow"
  ><img
      alt="Ember Observer Score"
      src="https://emberobserver.com/badges/ember-validated-form.svg"
    /></a>
  <a
    class="ml-1"
    href="https://github.com/adfinis/ember-validated-form/actions?query=workflow%3ATest"
    rel="nofollow"
  ><img
      alt="Test"
      src="https://github.com/adfinis/ember-validated-form/workflows/Test/badge.svg"
    /></a>
  <a class="ml-1" href="https://github.com/prettier/prettier"><img
      alt="Code Style: Prettier"
      src="https://img.shields.io/badge/code_style-prettier-ff69b4.svg"
    /></a>
</div>

<div class="docs-container">
  <DocsDemo as |demo|>
    <demo.example>
      {{! BEGIN-SNIPPET quickstart-template.hbs }}
      {{#if @model.saved}}
        <div class="alert alert-success">
          Model was successfully saved!
        </div>
      {{/if}}

      <ValidatedForm
        @model={{changeset @model this.UserValidations}}
        @on-submit={{perform this.submit}}
        as |f|
      >

        <f.input @label="First name" @name="firstName" @required={{true}} />

        <f.input @label="Last name" @name="lastName" @required={{true}} />

        <f.input
          @type="textarea"
          @label="About me"
          @name="aboutMe"
          @rows="10"
          @hint="Write a short description about yourself"
        />

        <f.input
          @type="select"
          @label="Country"
          @name="country"
          @prompt="Select a country"
          @options={{this.countries}}
          @value={{@model.country}}
          @required={{true}}
        />

        <f.input
          @type="radioGroup"
          @label="Gender"
          @name="gender"
          @options={{this.genders}}
          @required={{true}}
        />

        <f.input
          @renderComponent={{component "favorite-colors" colors=this.colors}}
          @label="Favorite Color"
          @name="color"
          @required={{true}}
        />

        <f.input
          @type="checkbox"
          @label="I agree with the terms and conditions"
          @name="terms"
          @required={{true}}
        />

        <f.submit @label="Save" />
      </ValidatedForm>
      {{! END-SNIPPET }}
    </demo.example>

    <demo.snippet @name="quickstart-template.hbs" />
    <demo.snippet @name="quickstart-route.js" @label="route.js" />
    <demo.snippet @name="quickstart-controller.js" />
    <demo.snippet
      @name="quickstart-validations.js"
      @label="validations/user.js"
    />
    <demo.snippet
      @name="favorite-colors.js"
      @label="components/favorite-colors.js"
    />
    <demo.snippet
      @name="favorite-colors.hbs"
      @label="components/favorite-colors.hbs"
    />
  </DocsDemo>
</div>