{{#validated-form
  on-submit = submit
  model     = (changeset model UserValidations)
  as |f|}}

  {{f.input label="First name" name="firstName" required=true}}
  {{f.input label="Last name" name="lastName" required=true}}

  {{f.input type="textarea" label="About me" name="aboutMe" hint="Example help text"}}

  {{f.input
    type         = "select"
    label        = "Country"
    name         = "country"
    options      = countries
    includeBlank = "Please choose..."
    required     = true
    promptIsSelectable = false
    }}

  {{f.input type="radioGroup" label="Gender" name="gender" options=genders required=true}}

  {{#f.input label="Favorite Color" name="color" required=true as |fi|}}
    {{favorite-colors-component selected=fi.value colors=colors onupdate=fi.update onhover=fi.setDirty}}
  {{/f.input}}

  {{f.input type="checkbox" label="I agree with the terms and conditions" name="terms"}}

  {{f.submit label="Save"}}
{{/validated-form}}

{{#if model.saved}}
  Model properties:
  <ul>
    <li>firstName={{model.firstName}}</li>
    <li>lastName={{model.lastName}}</li>
    <li>aboutMe={{model.aboutMe}}</li>
    <li>country={{model.country}}</li>
    <li>gender={{model.gender}}</li>
    <li>color={{model.color.color}}</li>
    <li>terms={{model.terms}}</li>
  </ul>
{{/if}}
