{{#each options as |option i|}}
  {{#unless (eq i 0)}}<br>{{/unless}}
  <label class="uk-form-label {{if isValid "uk-text-success"}} {{if isInvalid "uk-text-danger"}}">
    <input
      type     = "checkbox"
      class    = "uk-checkbox uk-margin-small-right"
      checked  = {{includes option.key value}}
      name     = {{name}}
      id       = "{{inputId}}-{{i}}"
      disabled = {{disabled}}
      {{on "input" (fn this.onUpdate option.key)}}
    >
    {{option.label}}
  </label>
{{/each}}