{{#if (evf-theme "uikit")}}
  <small id={{@id}} class="uk-text-danger" ...attributes>
    {{yield}}{{this.errorString}}
  </small>
{{else}}
  <span
    id={{@id}}
    class={{if (evf-theme "bootstrap") "d-block invalid-feedback"}}
    ...attributes
  >
    {{yield}}{{this.errorString}}
  </span>
{{/if}}