{{! template-lint-disable no-autofocus-attribute }}
<div
  class={{class-list
    (if (macroCondition (macroGetOwnConfig "isUikit")) "uk-margin")
    (if (macroCondition (macroGetOwnConfig "isBootstrap")) "form-group")
  }}
>
  {{#if (not-eq @type "checkbox")}}
    <@labelComponent />
  {{/if}}

  <ValidatedInput::Render::Wrapper>
    {{#if (eq @type "select")}}
      <this.selectComponent
        @disabled={{@disabled}}
        @inputId={{@inputId}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @multiple={{@multiple}}
        @name={{or @inputName @name}}
        @optionLabelPath={{@optionLabelPath}}
        @options={{@options}}
        @optionTargetPath={{@optionTargetPath}}
        @optionValuePath={{@optionValuePath}}
        @prompt={{@prompt}}
        @promptIsSelectable={{@promptIsSelectable}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        @value={{@value}}
        ...attributes
      />
    {{else if (or (eq @type "radioGroup") (eq @type "radio-group"))}}
      <this.radioGroupComponent
        @disabled={{@disabled}}
        @inputId={{@inputId}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @name={{or @inputName @name}}
        @options={{@options}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        @value={{@value}}
        ...attributes
      />
    {{else if (or (eq @type "checkboxGroup") (eq @type "checkbox-group"))}}
      <this.checkboxGroupComponent
        @disabled={{@disabled}}
        @inputId={{@inputId}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @name={{or @inputName @name}}
        @options={{@options}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        @value={{@value}}
        ...attributes
      />
    {{else if (eq @type "checkbox")}}
      <this.checkboxComponent
        @disabled={{@disabled}}
        @inputId={{@inputId}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @labelComponent={{@labelComponent}}
        @name={{or @inputName @name}}
        @options={{@options}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        @value={{@value}}
        ...attributes
      />
    {{else if (eq @type "textarea")}}
      <this.textareaComponent
        autocomplete={{@autocomplete}}
        autofocus={{@autofocus}}
        cols={{@cols}}
        disabled={{@disabled}}
        id={{@inputId}}
        name={{or @inputName @name}}
        placeholder={{@placeholder}}
        rows={{@rows}}
        value={{@value}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        ...attributes
      />
    {{else if
      (and (eq @type "date") (not-eq this.dateComponent this.inputComponent))
    }}
      <this.dateComponent
        @autocomplete={{@autocomplete}}
        @autofocus={{@autofocus}}
        @disabled={{@disabled}}
        @id={{@inputId}}
        @name={{or @inputName @name}}
        @placeholder={{@placeholder}}
        @value={{@value}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        ...attributes
      />
    {{else}}
      <this.inputComponent
        autocomplete={{@autocomplete}}
        autofocus={{@autofocus}}
        disabled={{@disabled}}
        id={{@inputId}}
        name={{or @inputName @name}}
        placeholder={{@placeholder}}
        type={{@type}}
        value={{@value}}
        @isInvalid={{@isInvalid}}
        @isValid={{@isValid}}
        @setDirty={{@setDirty}}
        @update={{@update}}
        ...attributes
      />
    {{/if}}
  </ValidatedInput::Render::Wrapper>

  <@hintComponent />
  <@errorComponent />
</div>