{{#if (not-eq type "checkbox")}}
  {{#if label}}
      <label class={{config.css.label}} for={{name}}>
        {{label}}{{#if required}} *{{/if}}
      </label>
  {{/if}}
{{/if}}

{{#if hasBlock}}

  {{yield (hash value=(get model name)
    controlClass=config.css.control
    update=(action 'update')
    setDirty=(action 'setDirty')
    model=model
    name=name)}}

{{else}}
  {{#if (eq type "select")}}

    {{one-way-select
      value            = (get model name)
      options          = options
      optionLabelPath  = optionLabelPath
      optionValuePath  = optionValuePath
      optionTargetPath = optionTargetPath
      name             = name
      class            = config.css.control
      update           = (action "update")
      focusOut         = (action "setDirty")
      includeBlank     = includeBlank
      disabled         = disabled
      multiple         = multiple
    }}

  {{else if (eq type "radioGroup")}}

    {{#each options as |option|}}
      <div class="radio">
        <label>
          {{one-way-radio
            value    = (get model name)
            option   = option.key
            name     = name
            update   = (action "update")
            focusOut = (action "setDirty")
            disabled = disabled
          }}
          {{option.label}}</label>
      </div>
    {{/each}}

  {{else if (eq type "checkbox")}}
    <div class="{{config.css.checkbox}}">
      <label>
        {{one-way-checkbox
          name       = name
          checked    = (get model name)
          update     = (action "update")
          focusOut   = (action "setDirty")
        }}
        {{label}}
      </label>
    </div>

  {{else}}

    {{component (concat "one-way-" type)
      value       = (get model name)
      options     = options
      name        = name
      class       = config.css.control
      update      = (action "update")
      focusOut    = (action "setDirty")
      placeholder = placeholder
      disabled    = disabled
    }}

  {{/if}}
{{/if}}

{{#if help}}
  <p class={{config.css.help}}>{{help}}</p>
{{/if}}

{{#if showError}}
  <span class={{config.css.help}}>{{firstError}}</span>
{{/if}}
